@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

header {
  background-color: rebeccapurple;
  padding: 0.5rem;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    margin: 0;

    &:visited {
      color: #fff;
    }

    h1 {
      font-size: 1.7em;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

.display-none {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

  tbody {
    display: table;
    width: 100%;
  }

  td {
    width: calc(100% / 3);
    text-align: center;
    padding: 5px;
    hyphens: auto;
  }

  td,
  th {
    border: 1px solid #ddd;
    min-width: 200px;
  }
}

img {
  max-width: 100%;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#submit {
  cursor: pointer;
}

form {
  margin-bottom: 1rem;

  label#error-label {
    color: red;
  }

  input,
  select {
    width: 100%;
    font-size: 16px;
    padding: 15px;
  }

  input[type="submit"] {
    margin-top: 10px;
    -webkit-appearance: none;
    border-radius: 3px;
    color: white;
    background-color: #0095ff;
    border: none;

    &:hover,
    &:active {
      background-color: #0077cc;
    }

    &:disabled {
      background-color: gray;
    }
  }
}

.results {
  margin-bottom: 2rem;
}

@media (min-width: 854px) {
  form {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-areas:
      "csrf csrf csrf"
      "error-label error-label error-label"
      "product-wrapper max_returned-wrapper submit";

    #csrf-token {
      grid-area: csrf;
    }

    .product-wrapper {
      grid-area: product-wrapper;
    }

    .max_returned-wrapper {
      grid-area: max_returned-wrapper;
    }

    label {
      &#product-label {
        grid-area: product-label;
      }

      &#error-label {
        grid-area: error-label;
      }
    }

    input {
      &#product {
        grid-area: product;
      }

      &#submit {
        grid-area: submit;
      }
    }

    input[type="submit"] {
      margin: 0;
    }
  }
}

.container,
header h1 {
  margin: 0 1rem;
}

@media (min-width: 1000px) {
  .container,
  header h1 {
    max-width: 90vw;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .container,
  header h1 {
    max-width: 80vw;
  }
}

@media (max-width: 854px) {
  .table-wrapper {
    max-width: 850px;
    overflow: scroll;

    td {
      min-width: 150px;
    }
  }
}
